<form *ngIf="showAddContact" class="add-form" (ngSubmit)="onSubmit()">

    <div class="form-control">
        <label for="name">Name</label>
        <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="Add Name"/>
    </div>

    <div class="form-control">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" [(ngModel)]="lastname" id="lastname" placeholder="Add Last Name"/>
    </div>

    <div class="form-control form-control-check">
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" [(ngModel)]="phone" id="phone"/>
    </div>

    <div class="form-control form-control-check">
        <label for="favourite">Favourite</label>
        <input type="checkbox" name="favourite" [(ngModel)]="favourite" id="favourite"/>
    </div>

    <input type="submit"value="Save Contact" class="btn btn-block"/>

</form>
